.transactions{
    background-color: #ECE9F8;
}
.sidebar{
    background-color: #208BD9;
}
.myrow{
    padding-left: 20px;
}
.addbutton{
    background-color: white!important;
    padding-right: 300px!important;
}

.addicon{
    height: 40px;
    width: 40px
}
.title{
    font-size: 30px;
    color: #F18C65;
    padding-bottom:-50px!important;
}
.expense-income{
    background-color:white!important;
}
.balancerow{
    margin-left: 80px!important;
    margin-right: 80px!important;
    background-color: #DFF2FF!important;
    height: 100px;
}
.subtitle{
    color:#9996A7;
    font-size:16px;

}
.balance{
    color:#208BD9;
    font-size:32px;
    padding-top:-10px!important;
    padding-bottom:-10px!important;
}
.card{
    width: 164px;
    margin-left: -10px!important;
}
.icon-row{
    /* margin-right: 10px!important; */
}
.icon{
    height:23px;
    width:23px
}
.card-title{
    color: #208BD9!important;
    font-size: 16px;
    margin-top: -14px!important;
    margin-left: -9px!important;
    /* margin-right: -18px!important; */
}
.card-subtitle1{
    font-size: 12px;
    font-weight: 300;
    margin-left: -9px!important;
    margin-bottom: -1px!important;
}
.card-subtitle2{
    font-size:13px;
    font-weight: 600;
    margin-left: -9px!important;
}
.budget{
    margin-bottom: -15px!important;
}
.bottom-design{
    background-color: #F18C65;
    width: 164px;
    margin-left: -1px!important;
    border-radius: 0px 0px 5px 5px;
    height: 5px;
    margin-top: -1px;
        
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
